/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  height: calc(100vh - 80px);
  display: flex;
}

/* LEFT NAV BAR */

#nav-bar {
  width: 300px;
  /* debug */
  background-color: black;
}

/* MAIN */
main {
  width: 100%;
  /* debug */
  background-color: lightgreen;
}

.upgrade-btn {
  background-color: rgba(0, 0, 0, 0.8);
  /* debug */
  min-height: 100px;
}

/* PLAYER */
#player {
  height: 8rem;
  /* debug */
  background-color: lightcoral;
}
