/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

:root {
  /* colors */
  --main-gray: #d2d2d2;
  --dark-gray: #757575;
}

.container {
  height: calc(100vh - 80px);
  display: flex;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  margin-bottom: 1.2rem;
}

/* ******************************** */
/* REUSABLE */
.nav-selected-item {
  color: var(--main-gray);
  fill: var(--main-gray);
  stroke: var(--main-gray);
}
/* LEFT NAV BAR */
#nav-bar {
  flex-shrink: 0;
  width: 300px;
  padding: 1.6rem 2.4rem;
  /* debug */
  background-color: black;
}

#spotify-logo {
  width: 60%;
  margin-bottom: 4.8rem;
}

.main-nav {
  margin-bottom: 2.4rem;
}

button {
  background: none;
  border: none;
  color: var(--dark-gray);
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 12px;
}

li {
  list-style: none;
}

/* nav list settings */
/* icons */
.fa-square-plus {
  font-size: 4.4rem;
}

.nav-icon {
  width: 3rem;
  stroke: var(--dark-gray);
  fill: var(--dark-gray);
  stroke-width: 15;
}

/* MAIN */
main {
  width: 100%;
  /* debug */
  background-color: lightgreen;
}

/* upegrade btn section */
.upgrade-btn {
  background-color: rgba(0, 0, 0, 0.8);
  align-content: center;
  text-align: right;
  height: 80px;
  padding: 0 2.4rem;
  z-index: 999;
}

.btn {
  font-weight: 700;
  font-size: 1.4rem;
  border: 2px solid #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 10rem;
}

/* PLAYER */
#player {
  height: 80px;
  /* debug */
  background-color: lightcoral;
}
